<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="row">
    <div class="center-block col-md-8 text-left text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Links -->
          <h5 class="text-uppercase text-medium">COMPANY INFO </h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">About Sports Hub</a>
            </li>
            <li>
              <a href="#!">News / In the Press</a>
            </li>
            <li>
              <a href="#!">Advertising / Sports Blogger Ad Network</a>
            </li>
            <li>
              <a href="#!">Events</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase text-medium">CONTRIBUTORS </h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Featured Writers Program
              </a>
            </li>
            <li>
              <a href="#!">Featured Team Writers Program</a>
            </li>
            <li>
              <a href="#!">Internship Program</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase text-medium">NEWSLETTER</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Sign up to receive the latest sports news</a>
            </li>

          </ul>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Enter email to subscribe"> <span class="input-group-btn"> <button type="button" class="btn btn-danger">Subscribe</button></span>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
  </div>
  <!-- Copyright -->
  <div class="footer-copyright py-3">
    <div class="col-sm-6 copyright">
      <p class="text-left logo-text">Sports Hub</p>
    </div>
    <div class="col-sm-6 copyright">
      <p class="text-right copyright-text">Copyright ©2019 Sports Hub <br> Privacy / Terms</p></div>
  </div>
  <!-- Copyright -->

</footer>