<header>
  <div class="row header-container">
    <div class="logo-container col">
      <span class="logo-text">Sports Hub</span>
    </div>
    <div class="search-container col">
      <div class="search-wrapper">
        <%= image_tag("search-icon.jpg" , class:"search-icon" )%>
        <input class="search-input " type="text" placeholder="Search by" >
      </div>
    </div>
    <div class="social-container col">
      <p class="social-text">Share</p>

      <div class="social-icon-wrapper">
        <a href="http://www.facebook.com" target="_blank" rel="nofollow"><%= image_tag("FB.png", class:"social-icon")%></a>
        <a href="http://www.twitter.com" target="_blank" rel="nofollow"><%= image_tag("twitter.png", class:"social-icon")%></a>
        <a href="http://www.google.com" target="_blank" rel="nofollow"><%= image_tag("google.png", class:"social-icon")%></a>

      </div>
    </div>
    <div class="login-container col">
      <div class="login col-sm-8">
        <button type="button" class="btn btn-outline-danger">Sign up</button>
        <button type="button" class="btn btn-outline-danger border border-danger">Log in</button>
        <!--        <div class="dropdown show">-->
        <!--          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--            Dropdown link-->
        <!--          </a>-->

        <!--          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
        <!--            <a class="dropdown-item" href="#">Action</a>-->
        <!--            <a class="dropdown-item" href="#">Another action</a>-->
        <!--            <a class="dropdown-item" href="#">Something else here</a>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <ul>-->
        <!--          <li>Name</li>-->
        <!--          <li>View profile</li>-->
        <!--          <li>Change password</li>-->
        <!--          <li>My surveys</li>-->
        <!--          <li>Team hub</li>-->
        <!--          <li>Log out</li>-->
        <!--        </ul>-->
      </div>
      <div class="lang col-sm-4 ">
        <p>EN</p>
      </div>
    </div>
  </div>
</header>