<div class="container text-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to 'Previous', articles_path(page: @articles_page - 1), class: "page-link #{ @articles_page == 0 ? 'btn disabled' : '' }" %>
      </li>
      <li class="page-item px-3">|</li>
      <li class="page-item">
        <%= link_to 'Next', articles_path(page: @articles_page + 1), class: "page-link" %>
      </li>
    </ul>
  </nav>
</div>