<div class="row p-4 block-center">
  <div class="col text-center p-3 mb-5 shadow-sm tab-user-info"><%= link_to t('personal'), edit_user_path(current_user.id) %></div>
  <div class="col text-center p-3 mb-5 shadow-sm tab-user-info shadow"><%= link_to t('change_password'), edit_user_registration_path %></div>
  <div class="col text-center p-3 mb-5 shadow-sm tab-user-info"><%= link_to t('my_surveys'), edit_user_path(current_user.id)  %></div>
  <div class="col text-center p-3 mb-5 shadow-sm tab-user-info"><%= link_to t('team_hub'), edit_user_path(current_user.id) %></div>
</div>