
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<div class="row">
  <div class="center-block col-md-6" style="background-color:#ccc;"><h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p></div>
</div>