/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
@import "bootstrap";
*/
.profiler-result {
    display: none;
}

.header-container {
    height: 83px;
}

.logo-container {
    position: relative;
    text-align: center;
    min-width: 253px;
    height: 83px;
    background: #D72130;
}

.logo-container__login {
    text-align: center;
    min-width: 253px;
    height: 83px;
    background: #D72130;
}

.col-login-image {
    padding-left: 0px !important;
}

.col-login-fields-wrapper {
    float: none;
    margin: auto;
    max-width: 390px;
    padding-top: 35%;
}

.logo-text {
    display: block;
    position: relative;
    top: 30%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 127% */

    text-align: center;

    color: #FFFBFB;
}

.search-container {
    border-right: 1px solid #8080801a;
    border-bottom: 1px solid #8080801a;

    position: relative;

}

.search-icon {
    width: 30px;
    height: 25px;
    left: 8%;
    top: 29px;

}

.search-wrapper {
    position: absolute;
    left: 5%;
    right: 30%;
    top: calc(50% - 22px / 2 + 1px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Lable name */

    color: #7F8899;
}

.search-input {

    position: initial;
    width: 80%;
    height: 19px;
    left: 15%;
    top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: none;
    border-color: transparent;
    color: #B2B2B2;
}

.social-container {
    border-right: 1px solid #8080801a;
    border-bottom: 1px solid #8080801a;
    position: relative;

}

.social-text {
    position: absolute;
    height: 22px;
    left: 25%;
    right: 20.83%;
    top: calc(50% - 22px / 2 + 0.5px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Lable name */

    color: #7F8899;
}

img .social-icon-wrapper {
    width: 10px;
}

.social-icon-wrapper {
    position: absolute;
    left: 40%;
    right: 30%;
    top: calc(50% - 22px / 2 + 1px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Lable name */

    color: #7F8899;
}

.social-icon {
    padding: 0 10px 0 10px;
    width: 30px;
    height: 15px;
}

.login-container {
    border-bottom: 1px solid #8080801a;

}

.row .align-items-center {
    height: 100%;
}

.login-wrapper {
    position: absolute;
    left: 7%;
    right: 30%;
    top: calc(50% - 22px / 2 + 1px)
}

.login {
    text-align: center;
    top: calc(40% - 20px / 2 + 1px)

}

.lang {
    text-align: center;
    top: calc(50% - 22px / 2 + 1px)
}

.footer {
    margin-top: auto;
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer-wrapper {
    background: #D72130;
}

.footer-copyright.py-3 {
    height: 80px;
    width: 100%;
    display: inline-block;
    background-color: #D72130;
}

.copyright {
    top: 20px;
}

.copyright-text {
    color: #FFFBFB;
    text-align: right;
}

.text-left {
    text-align: left;

}

a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #7F7B7B !important;
    text-decoration: none;
}

.text-medium {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

body {
    margin: 0 !important;
    min-height: 100% !important;

}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.dropdown > a, .dropdown > button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 20px 6px 10px;
    border-radius: 4px;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.dropdown > a:before, .dropdown > button:before {
    position: absolute;
    right: 7px;
    top: 12px;
    content: ' ';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dropdown input[type=checkbox] {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0;
}

.dropdown input[type=checkbox]:checked {
    position: fixed;
    z-index: +0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.dropdown ul {
    position: absolute;
    top: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    left: 0px;
    list-style: none;
    padding: 4px 0px;
    display: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
}

.dropdown input[type=checkbox]:checked + ul {
    display: block;
}

.dropdown ul li {
    display: block;
    padding: 6px 20px;
    white-space: nowrap;
    min-width: 100px;
}

.dropdown ul li:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.dropdown ul li a {
    text-decoration: none;
    display: block;
    color: black
}

.dropdown .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size: 1px;
    padding: 0;
}

.btn-lg{
    width: 100%;
}
.btn{
    color: #cc0000!important;
}
.dropdown input[type=checkbox]:checked + ul {
    top: 35px;
}
.btn:hover {
    color: #fff!important;
    background-color: #cc0000!important;
}
a:hover {
    color: #cc0000!important;
    background-color: #fff!important;
}
.tab-user-info:hover {
    display:block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}
form.search-form {
    display: initial;
}