// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-text-wrapper {
  background-color: #f6f6f6;
  min-width: 400px;
  margin-left: -20%;
  min-height: auto;

}
.image-text__date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7F7B7B;
}
.image-text__title{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #C63638;
}
.image-text__caption{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.image-section {
  min-height: 300px;
}
.vcenter-item {
  display: flex;
  align-items: center;
  margin: auto;
}
.btn-danger-not-rounded {
  border-radius: 0 !important;
  min-width: 200px;

}
